<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cademy-Login Page</title>
    <style>
        h1{
            text-align : center;
        }
        ul{
            text-align : center;
            list-style : none;
            font-size : 30px;
        }
        li{
            margin-bottom : 100px;
        }
        p{
            font-size : 30px;
        }
        .cl{
            display : inline;
            margin-right : 80px;
        }
    </style>
</head>
<body style="background-color:#0D2C54;">
<h1 style = "color:#FFC600;">Cademy - The Learning Portal</h1>
    <hr>
    <ul>
        <li>Courses-List</li>
        <li>Show Instructors in Cademy</li>
        <li>View My Profile</li>
        <li>Teach on Cademy</li>
    </ul>
    <hr>
    <h2 style="color:#AB2346;">About Us</h2>
    <p>Top companies choose Cademy to build in-demand career skills.Because Cademy has very wide community that supports the learners to make their process easy.
        It was started in 2024 by "Suriya" who was commonly know as Mad Man.</p>
<h2 style="color:#AB2346;">Contact Us :</h2>
<p class="cl">Email : suriyaprasath918@gmail.com</p>
<p class="cl">Phone : +91 6383303646</p>
</body>
</html>